![ecommerce_analytics-1224x532](ecommerce_analytics-1224x532.jpg)

As a Data Engineer at an electronics e-commerce company, Voltmart, you have been requested by a peer Machine Learning team to clean the data containing the information about orders made last year. They are planning to further use this cleaned data to build a demand forecasting model. To achieve this, they have shared their requirements regarding the desired output table format.

An analyst shared a parquet file called `"orders_data.parquet"` for you to clean and preprocess. 

You can see the dataset schema below along with the **cleaning requirements**:

## `orders_data.parquet`

| column | data type | description | cleaning requirements | 
|--------|-----------|-------------|-----------------------|
| `order_date` | `timestamp` | Date and time when the order was made | _Modify: Remove orders placed between 12am and 5am (inclusive); convert from timestamp to date_ |
| `time_of_day` | `string` | Period of the day when the order was made | _New column containing (lower bound inclusive, upper bound exclusive): "morning" for orders placed 5-12am, "afternoon" for orders placed 12-6pm, and "evening" for 6-12pm_ |
| `order_id` | `long` | Order ID | _N/A_ |
| `product` | `string` | Name of a product ordered | _Remove rows containing "TV" as the company has stopped selling this product; ensure all values are lowercase_ |
| `product_ean` | `double` | Product ID | _N/A_ |
| `category` | `string` | Broader category of a product | _Ensure all values are lowercase_ |
| `purchase_address` | `string` | Address line where the order was made ("House Street, City, State Zipcode") | _N/A_ |
| `purchase_state` | `string` | US State of the purchase address | _New column containing: the State that the purchase was ordered from_ |
| `quantity_ordered` | `long` | Number of product units ordered | _N/A_ |
| `price_each` | `double` | Price of a product unit | _N/A_ |
| `cost_price` | `double` | Cost of production per product unit | _N/A_ |
| `turnover` | `double` | Total amount paid for a product (quantity x price) | _N/A_ |
| `margin` | `double` | Profit made by selling a product (turnover - cost) | _N/A_ |

<br>

In [14]:
from pyspark.sql import (
    SparkSession,
    types,
    functions as F,
)

spark = (
    SparkSession
    .builder
    .appName('cleaning_orders_dataset_with_pyspark')
    .getOrCreate()
)

In [15]:
orders_data = spark.read.parquet('orders_data.parquet')
orders_data.toPandas().head()

           order_date  order_id  ... turnover    margin
0 2023-01-22 21:25:00    141234  ...   700.00  469.0000
1 2023-01-28 14:15:00    141235  ...    14.95    7.4750
2 2023-01-17 13:33:00    141236  ...    23.98   11.9900
3 2023-01-05 20:33:00    141237  ...   149.99   52.4965
4 2023-01-25 11:59:00    141238  ...    11.99    5.9950

[5 rows x 11 columns]

In [16]:
# order_date - Modify: Remove orders placed between 12am and 5am (inclusive); convert from timestamp to date
# time_of_day - New column containing (lower bound inclusive, upper bound exclusive): "morning" for orders placed 5-12am, "afternoon" for orders placed 12-6pm, and "evening" for 6-12pm
orders_data = (
    orders_data
    # Create a new column time_of_day
    .withColumn(
        'time_of_day',
        F.when((F.hour('order_date') >= 0) & (F.hour('order_date') <= 5), 'night')
         .when((F.hour('order_date') >= 6) & (F.hour('order_date') <= 11), 'morning')
         .when((F.hour('order_date') >= 12) & (F.hour('order_date') <= 17), 'afternoon')
         .when((F.hour('order_date') >= 18) & (F.hour('order_date') <= 23), 'evening')
         .otherwise(None)
    )
    .filter(
        F.col('time_of_day') != 'night'
    )
    .withColumn(
        'order_date',
        F.col('order_date').cast(types.DateType())
    )
)

orders_data.toPandas().head()

   order_date  order_id  ...    margin  time_of_day
0  2023-01-22    141234  ...  469.0000      evening
1  2023-01-28    141235  ...    7.4750    afternoon
2  2023-01-17    141236  ...   11.9900    afternoon
3  2023-01-05    141237  ...   52.4965      evening
4  2023-01-25    141238  ...    5.9950      morning

[5 rows x 12 columns]

In [17]:
# product - Remove rows containing "TV" as the company has stopped selling this product; ensure all values are lowercase
# category - Ensure all values are lowercase
orders_data = (
    orders_data
    .withColumn(
        'product',
        F.lower('product')
    )
    .withColumn(
        'category',
        F.lower('category')
    )
    .filter(
        ~F.col('product').contains('tv')
    )
)

In [18]:
# purchase_state - New column containing: the State that the purchase was ordered from
orders_data = (
    orders_data
    .withColumn(
        'address_split',
        F.split('purchase_address', ' ')
    )
    .withColumn(
        'purchase_state',
        F.col('address_split').getItem(F.size('address_split') - 2)
    )
    .drop('address_split')
)

# Use distinct and count to calculate the number of unique values
n_states = (
    orders_data
    .select('purchase_state')
    .distinct()
    .count()
)

In [19]:
# EXPORT
(
    orders_data
    .write
    .parquet(
        'orders_data_clean.parquet',
        mode='overwrite',
    )
)